@model IEnumerable<DeliveryService.Models.CustomerOrderViewModel>

@{
    ViewBag.Title = "OrderDriverViews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Driver View</h2>

<br />
<br />
<br/>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurbeSide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WalkIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tips)
            </th>
          



            
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_of_Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurbeSide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WalkIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tips)
                </td>
               




                <td>
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "AccetpOrders")'">Accept</button>
                </td>
            </tr>







        }

    </table>










