@model IEnumerable<DeliveryService.Models.AcceptedOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerOrder.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerOrder.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AcceptedOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AcceptedOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AcceptedOrderId })
        </td>
    </tr>
}

</table>
